{% extends 'base.html' %}

{% block title %}Blogs{% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4">All Blogs</h1>

    {% if blogs %}
        <div class="row">
            {% for blog in blogs %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    {% if blog.image %}
                    <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">{{ blog.description|striptags|truncatewords:30 }}</p>

                        {% if blog.keywords %}
                        <p class="text-muted">
                            Keywords: {{ blog.keywords }}
                        </p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-end">
                       <a href="{% url 'blogDetails' blog.id %}" class="btn btn-primary btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No blogs available.</p>
    {% endif %}
</div>
{% endblock %}
